  <footer>
     
        <div class="f-info">
            <div class="f-info-social">
                <a href="https://www.instagram.com/luckygupta9073?igsh=cjJ1dnk1cDZwY2oy"> <i class="fa-brands fa-square-instagram"></i></a>
                <a href="https://www.facebook.com/share/14Qa2Xk5Mws/"> <i class="fa-brands fa-square-facebook"></i></a>
                <a href="https://www.linkedin.com/in/lucky-gupta-aba348318?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app" target="_blank">
                    <i class="fa-brands fa-linkedin"></i>
                </a>
                <a href="https://github.com/Lucky-SimaleBoy">    <i class="fa-brands fa-square-github"></i></a>
            
            </div>
            <div class="f-info-brand"> &copy; Lucky Gupta private limted</div>
            <div class="f-info-links">
                <a href="https://www.google.com/policies/privacy/">Privacy</a>
                <a href="https://www.google.com/policies/terms/">Terms</a>
            </div>
        </div>
    </footer>
